.on_hover_style {
	background-color: #ffffff;
}

.editable_highlighted_class {
	background-color: #CCD8E2;
  cursor: pointer;
}

.current_group {
	color: #337ab7;
}

.ui-autocomplete-category {
	/*font-weight: bold;*/
	line-height: 1.5;
  margin: .8em 0 .2em;
  padding: .2em .4em;
}

/*--- Image uploader*/
.fileinput-button {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.fileinput-button input {
  cursor: pointer;
  direction: ltr;
  font-size: 200px;
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -ms-filter: 'alpha(opacity=0)';
}

.divProgressUploadThin {
  height: 4px;
}

/*--- Canvar classes*/
.canvas-big-logo {
  /*border-radius: 20%;*/
  border: none;
}


/*--- Preview zoom in/out trick based on CSS animation*/
.previewShape {
  float: left;
  height: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
  position: relative;
  width: 20px;
}

.previewShape .overlay {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -2px;
  left: -2px;
  -webkit-transform: scale(1,1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.6s;
  -ms-transform: scale(1,1);
  -ms-transition-timing-function: ease-out;
  -ms-transition-duration: 0.6s;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 0.6s;
  transform: scale(1,1);
  transition-timing-function: ease-out;
  transition-duration: 0.6s;                
  z-index:500;
  background-color: white;

  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}

.previewShape .details {
  display: block;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;                

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);

}

.previewShape .base {
  left: 0;
  position: absolute;
  top: 0;
}

.previewShape:hover .overlay {
    display: block;
    filter: alpha(opacity=0);
    opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -moz-transform: scale(1.5,1.5);
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease-out;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
    -ms-transform: scale(1.5,1.5);
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease-out;
    -webkit-transform: scale(1.5,1.5);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transform: scale(1.5,1.5);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.previewShape:hover .details {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  z-index: 550;
  display:block;    
}    

.previewShape .details .del-sign {
  cursor: pointer;
  height: 10px;
  left: 15px;
  position: absolute;
  top: -5px;
  width: 10px;
}

.canvas-small-avatar {
  -moz-transform: scale(1,1);
  -moz-transition-duration: 0.6s;
  -moz-transition-timing-function: ease-out;
  -ms-transform: scale(1,1);
  -ms-transition-duration: 0.6s;
  -ms-transition-timing-function: ease-out;
  -webkit-transform: scale(1,1);
  -webkit-transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-out;
  transform: scale(1,1);
  transition-duration: 0.6s;                
  transition-timing-function: ease-out;
}

.previewShape:hover .base .canvas-small-avatar {
  cursor: hand;
  cursor: pointer;

  -moz-transform: scale(1.5,1.5);
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -ms-transform: scale(1.5,1.5);
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out;
  -webkit-transform: scale(1.5,1.5);
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transform: scale(1.5,1.5);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.removeGroupExperience {
}

