RewriteEngine on
Options +FollowSymlinks
RewriteBase /

RewriteRule ^$ /cgi-bin/index.cgi
RewriteRule ^password_recovery(.*)$ /cgi-bin/index.cgi?action=password_recovery_template&$1 [QSA]
RewriteRule ^email_change(.*)$ /cgi-bin/account.cgi?action=email_change_template&$1 [QSA]
RewriteRule ^autologin(.*)$ /cgi-bin/index.cgi?action=autologin$1 [QSA]
RewriteRule ^login(.*)$ /cgi-bin/index.cgi?action=login$1 [QSA]
RewriteRule ^logout(.*)$ /cgi-bin/index.cgi?action=logout$1

RewriteRule ^news_feed(.*)$ /cgi-bin/index.cgi?action=news_feed&$1 [QSA]
RewriteRule ^feed(.*)$ /cgi-bin/index.cgi?action=news_feed&$1
RewriteRule ^find_friends(.*)$ /cgi-bin/index.cgi?action=find_friends&$1
RewriteRule ^my_network(.*)$ /cgi-bin/index.cgi?action=my_network&$1
RewriteRule ^user_account_properties(.*)$ /cgi-bin/index.cgi?action=user_account_properties&$1
RewriteRule ^user_notifications/(.*)$ /cgi-bin/index.cgi?action=user_notifications&notificationid=$1
RewriteRule ^user_notifications$ /cgi-bin/index.cgi?action=user_notifications
RewriteRule ^activate_me/(.*)$ /cgi-bin/index.cgi?action=activateNewUser&activator=$1
RewriteRule ^admin(.*)$ /cgi-bin/admin/admin.cgi

RewriteRule ^eula(.*)$ /cgi-bin/index.cgi?action=eula_wrapper_template&$1 [QSA]
RewriteRule ^privacy_policy(.*)$ /cgi-bin/index.cgi?action=privacy_policy_wrapper_template&$1 [QSA]
RewriteRule ^cookie_policy(.*)$ /cgi-bin/index.cgi?action=cookie_policy_wrapper_template&$1 [QSA]

#
# Promotion
#
RewriteRule ^14_months_free(.*)$ /cgi-bin/index.cgi?action=14_months_free_template&$1 [QSA]

#
# Initial actions
#
RewriteRule ^subcontractor_dashboard$ /cgi-bin/index.cgi?action=subcontractor_dashboard [QSA]
RewriteRule ^agency_dashboard$ /cgi-bin/index.cgi?action=agency_dashboard [QSA]
RewriteRule ^approver_dashboard$ /cgi-bin/index.cgi?action=approver_dashboard [QSA]
RewriteRule ^helpdesk_dashboard$ /cgi-bin/helpdesk.cgi?action=helpdesk_dashboard_template [QSA]
RewriteRule ^initial_wizard$ /cgi-bin/index.cgi?action=initial_wizard [QSA]

#
# profile by id (number)
#
RewriteRule ^userprofile/(.*)$ /cgi-bin/index.cgi?action=view_profile&userid=$1
RewriteRule ^companyprofile/(.*)$ /cgi-bin/ajax_anyrole_1.cgi?action=view_company_profile_template&id=$1

#
# profile by id (name)
#
RewriteRule ^userid/(.*)$	/cgi-bin/index.cgi?action=getUserWall&id=$1 [QSA]
RewriteRule ^user$			/cgi-bin/index.cgi?action=getUserWall [QSA]
RewriteRule ^user/(.*)$		/cgi-bin/index.cgi?action=getUserWall&login=$1 [QSA]
RewriteRule ^event/(.*)$	/cgi-bin/event.cgi?action=getEventWall&link=$1 [QSA]
RewriteRule ^invite/(.*)$	/cgi-bin/event.cgi?action=check_initial_action&id=$1 [QSA]

#
# redirect devimages.videos to unencrypted site to reduce https load
#
RewriteRule ^images/(.*)$						https://devimages.timecard.ru/images/$1						[L,R=301,NC]
RewriteRule ^video/(.*)$						https://devimages.timecard.ru/video/$1						[L,R=301,NC]
RewriteRule ^agreements_sow/(.*)$				https://devimages.timecard.ru/agreements_sow/$1				[L,R=301,NC]
RewriteRule ^invoices_cc/(.*)$					https://devimages.timecard.ru/invoices_cc/$1				[L,R=301,NC]
RewriteRule ^invoices_subc/(.*)$				https://devimages.timecard.ru/invoices_subc/$1				[L,R=301,NC]
RewriteRule ^smartway_vouchers/(.*)$			https://devimages.timecard.ru/smartway_vouchers/$1			[L,R=301,NC]
RewriteRule ^template_(.*)$						https://devimages.timecard.ru/templates_$1					[L,R=301,NC]
RewriteRule ^helpdesk_ticket_attaches/(.*)$		https://devimages.timecard.ru/helpdesk_ticket_attaches/$1	[L,R=301,NC]

